body { 
margin:0 auto;
padding:0px;
}

.st{
    left: 50%;
    top:50%;
    margin-left: -142px;
    margin-top: -150px;
    position: absolute;
    opacity: 0.6;
    transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
}

.st:hover{
    left: 50%;
    top:50%;
    margin-left: -142px;
    margin-top: -150px;
    position: absolute;
    opacity: 1;
    transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
}

.wraper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}